<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.activitystarwapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ActivityStarWapp">
        <activity
            android:name=".presentation.activity.RandomActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.BuscaStarshipActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.BuscaPlanetaActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.activity.TodosPersonagensActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.activity.TodosPlanetasActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.TodosStarshipsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.MainActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".presentation.activity.BuscaPersonagemActivity"
            android:exported="false" />
    </application>

</manifest>